body {
	background-color: #262425;
	margin: auto;
	width: 50%;
  	padding: 10px;
}
@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }
}
.login-section {
	padding-right: 0px;
}
.login-container {
	width: 100%;
   	max-width: 300px;
	margin-top: 0px;
	margin-right: auto;
   	margin-left: auto;
	padding-right: 0px;
   	padding-left: 0px;
	color: white;
}
.login-container h3 {
	text-align: center;
	font-size: 52px;
	font-family: sans-serif;
	border-bottom: 7px solid #F4F7FD;
	padding: 13px 0;
}
.formbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	margin: 8px 0;
	padding: 8px;
	border-bottom: 2px solid #F4F7FD;
}
.formbox input {
	background: none;
	float: left;
	border: none;
	outline: none;
	color: white;
	font-size: 18px;
	width: 80%;
	margin: 15px;
}
.btn {
	width: 100%;
	background: none;
	border: 2px solid #F4F7FD;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px;
}
img {
  	display: block;
  	margin-right: auto;
   	margin-left: auto;
	height: auto;
}
:-ms-input-placeholder {
    color:rgb(185, 185, 185);
}
::placeholder {
  color: rgb(185, 185, 185);
  opacity: 1;
}
::-ms-input-placeholder {
 color: rgb(185, 185, 185);
}