.gridbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    width: 90%;
    background: #262425;
    border-radius: 25px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0 auto;
    border-radius: 25px;
    background: #353535;
    margin: 0 auto;
    width: 100%;
    border:1px solid white;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 25px;
    background: #353535;
    margin: 0 auto;
    width: 100%;
    border:1px solid white;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 25px;
    background: #353535;
    margin: 0 auto;
    width: 100%;
    border:1px solid white;
}

.div4 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 25px;
    background: #353535;
    margin: 0 auto;
    width: 100%;
    border:1px solid white;
}

.div5 {
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 25px;
    background: #353535;
    margin: 0 auto;
    width: 100%;
    border:1px solid white;
}
form{
	margin:0 auto;
}

@media only screen and (max-width: 1400px) {
    .gridbox {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 15px;
        margin: auto;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0 auto;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0 auto;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
        margin: 0 auto;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
        margin: 0 auto;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
        margin: 0 auto;
    } 
}

form{
    text-align:center;
    width:100%;
}
.formlist select{
  width: 50%;
  padding:10px;
  border-radius:10px;
  text-align:center;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #DCDCDC;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.inputbruker input{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-variant: bold;
    font-size: 15px;
    margin: 8px;
    border-bottom: 2px solid #F4F7FD;
}
.regsift input{
    width: 50%;
    background: none;
    border: 2px solid #F4F7FD;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.filtertext{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.hoursoption select{
    width: 15%;
    padding:10px;
    border-radius:10px;
    text-align:center;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #DCDCDC;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
:-ms-input-placeholder {
    color:white;
}
::placeholder {
  color: white;
  opacity: 1;
}
::-ms-input-placeholder {
 color: white;
}